/*==========  Desktop First Method  ==========*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .fp-table {
        height: initial !important;
        min-height: auto !important;
        display: block;
    }
    .fp-overflow {
        max-height: initial !important;
        overflow: initial !important;
    }
    .section {
        transform: none !important;
    }
    body {
        font-size: 14px;
    }
    .header {
        font-size: 14px;
        padding: 8px 0;
        position: fixed;
        background: #f8f9f6;
    }
    .header__wrapper {
        padding: 0 15px;
        gap: 15px;
    }
    .logo-wrap {
        gap: 15px;
    }
    .logo img {
        width: 90px;
    }
    .fullpage-wrapper {
        position: static !important;
        transform: initial !important;
    }
    .section--top {
        position: static;
    }
    .logo-descr {
        font-size: 12px;
        width: 155px;
    }
    .header__wrapper .logo-descr,
    .header__wrapper .header__mail,
    .header__wrapper .header__location,
    .header__wrapper .menu {
        display: none;
    }
    .phone-main {
        padding: 8px;
        gap: 16px;
        padding-left: 16px;
        border-radius: 60px;
    }
    .phone-main i {
        width: 36px;
        height: 36px;
        font-size: 11px;
    }
    .header__wrapper .logo-wrap {
        margin-right: auto;
    }
    .header__wrapper .phone-main {
        padding: 0;
        background: transparent;
        border-radius: 50%;
        font-size: 0;
        gap: 0;
    }
    .btn-menu {
        padding: 6px 14px;
        gap: 12px;
        font-size: 16px;
        border-radius: 50px;
    }
    .btn-menu__icon {
        width: 32px;
        height: 13px;
    }
    .btn-menu__text {
        height: 24px;
        top: -2px;
    }

    .btn-menu__text span {
        height: 24px;
    }
    @keyframes menuText {
        0% {
            transform: translateY(0);
        }
        20% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(-24px);
        }
        45% {
            transform: translateY(-24px);
        }

        50% {
            transform: translateY(-48px);
        }
        70% {
            transform: translateY(-48px);
        }

        75% {
            transform: translateY(-72px);
        }
        95% {
            transform: translateY(-72px);
        }

        100% {
            transform: translateY(0);
            animation-duration: 5s;
        }
    }
    .billbord__descr {
        max-width: 380px;
        top: 0;
        left: 0;
        max-width: initial;
        position: relative;
    }
    .billbord__main {
        min-height: initial;
        margin: 0 15px;
        background-image: none;
    }
    .billbord {
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .billbord__title {
        font-size: 9.7292vw;
        top: 0;
    }
    .billbord__buttons {
        padding-top: 20px;
        gap: 8px;
        position: relative;
    }
    .btn-main {
        height: 46px;
        padding: 0 22px;
        font-size: 14px;
        border-radius: 55px;
        line-height: 120%;
    }
    .btn-main::before {
        width: 300px;
        height: 300px;
        border-radius: 60px;
        transform: rotate(90deg) translateX(100%);
        filter: blur(50px);
    }
    .billbord__price {
        padding: 6px 16px;
        border-radius: 100px;
        font-size: 14px;
        display: block;
        width: fit-content;
        margin: 0 auto;
        position: relative;
        top: 0;
        right: 0;
    }
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .title-section {
        font-size: 26px;
    }
    .title-section small {
        font-size: 21px;
    }
    .catalog__head {
        gap: 15px;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }
    .btn-more {
        width: 187px;
        height: 85px;
        padding: 18px;
        font-size: 14px;
        gap: 16px;
        border-radius: 16px;
    }
    .btn-more img {
        width: 28px;
    }
    .image-head {
        width: 112px;
        height: 70px;
        border-radius: 44px;
    }
    .image-head img {
        border-radius: 44px;
    }
    .tabs {
        gap: 7px 4px;
    }
    .tabs a {
        padding: 6px 13px;
        border-radius: 55px;
        font-size: 12px;
    }
    .item-card__image {
        height: 230px;
        border-radius: 16px;
    }
    .item-card__image img {
        border-radius: 16px;
    }
    .item-card__content {
        padding: 15px;
        padding-top: 14px;
        border-radius: 16px;
    }
    .item-card__title {
        font-size: 20px;
        margin-bottom: 13px;
    }
    .features {
        gap: 5px;
    }
    .features__item span {
        font-size: 13px;
        margin-bottom: 3px;
    }
    .swiper-pagination,
    .slick-dots {
        gap: 5px;
        bottom: -13px;
    }
    .slick-dots li {
        width: 40px;
        height: 2px;
    }
    .swiper-pagination-bullet,
    .slick-dots li button {
        width: 40px;
        height: 2px;
        border-radius: 2px;
    }
    .catalog {
        border-radius: 24px;
        margin: 25px 5px;
        padding: 20px 0;
        padding-bottom: 30px;
    }
    .tab-container {
        padding-top: 24px;
    }
    .section--top::before {
        display: none;
    }
    .billbord::before {
        position: absolute;
        display: block;
        content: " ";
        height: 100%;
        border-radius: 0 0 24px 24px;
        top: 0;
        left: 5px;
        right: 5px;
        z-index: -1;
        background: linear-gradient(248.39deg, rgba(114, 176, 29, 0) 86.77%, rgba(114, 176, 29, 0.1) 111.35%), linear-gradient(75.47deg, rgba(114, 176, 29, 0) 66.45%, rgba(114, 176, 29, 0.1) 121.63%), #F8F9F6;
    }

    .services__about {
        max-width: 100%;
    }
    .services__about .title-section {
        margin-bottom: 20px;
    }
    .services {
        margin: 0 5px;
        padding-top: 20px;
        border-radius: 24px;
        margin-bottom: 25px;
    }
    .item-service {
        height: 195px;
        padding: 10px;
        padding-top: 0;
    }
    .item-service__background,
    .item-service__image {
        border-radius: 24px;
    }
    .item-service__background img,
    .item-service__image img {
        border-radius: 24px;
    }
    .item-service__image img {
        object-position: left top;
    }
    .item-service__title {
        font-size: 16px;
        margin-left: -10px;
        padding-top: 2px;
    }
    .item-service__list {
        gap: 4px;
        max-width: 621px;
    }
    .item-service__list a {
        padding: 4px 6px;
        font-size: 12px;
        border-radius: 60px;
        backdrop-filter: blur(20px);
    }
    .row.row--page>div {
        padding: 0 14px;
        margin-bottom: 20px;
    }
    .row.row--page {
        margin: 0 -14px;
    }

    .portfolio__head {
        padding: 20px 0;
        min-height: initial;
        background: linear-gradient(233.85deg, rgba(63, 125, 32, 0) 4.28%, rgba(63, 125, 32, 0.5) 87.36%), #454955;
        border-radius: 24px;
    }
    .portfolio__head .title-section {
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .item-card__map {
        border-radius: 16px;
    }
    .portfolio__head .title-section:nth-child(2) {
        justify-content: flex-start;
    }
    .steps .image-head,
    .portfolio__head .image-head {
        width: 145px;
        height: 79px;
        margin: 10px 0;
    }
    .portfolio__head .title-section:nth-child(2) {
        margin-right: 0;
    }
    .portfolio__head .title-section small {
        max-width: 170px;
        font-size: 20px;
    }
    .portfolio__main {
        padding: 20px 0;
        margin: 0 5px;
        margin-top: 20px;
        border-radius: 24px;
    }
    .portfolio__top .btn-more {
        position: relative;
        margin-top: 20px;
        padding: 10px;
    }
    .portfolio-service .btn-more img,
    .portfolio .btn-more img {
        width: 20px;
    }
    .portfolio .tabs a {
        padding: 6px 13px;
        color: #454955;
        background: #fff;
    }
    .cursor-circle {
        display: none !important;
    }
    .item-card__top .item-card__image {
        height: 185px;
    }
    .item-card__top {
        margin-bottom: 20px;
        gap: 6px;
    }
    .item-card__bottom {
        display: block;
    }
    .item-card__bottom .features {
        width: 100%;
    }
    .item-card__bottom .btn-main {
        margin-top: 15px;
    }
    .item-card__descr {
        margin-bottom: 4px;
    }

    .consultation__main {
        padding: 25px 0;
        padding-bottom: 0;
        margin: 0 5px;
        background: linear-gradient(233.85deg, rgba(63, 125, 32, 0) 4.28%, rgba(63, 125, 32, 0.5) 87.36%), #454955;
        border-radius: 24px;
        overflow: hidden;
    }
    .consultation__content {
        max-width: 100%;
    }
    .consultation__content .title-section {
        margin-bottom: 12px;
    }
    .title-small {
        font-size: 15px;
    }
    .consultation__image {
        position: relative;
        right: 0;
    }
    .consultation__form {
        max-width: 100%;
        margin-top: 15px;
    }
    .item-form {
        margin-bottom: 15px;
    }
    .file-upload {
        margin-bottom: 15px;
    }
    .file-upload label, .item-form input, .item-form textarea {
        height: 44px;
        padding: 0 20px;
        font-size: 14px;
        border-radius: 10px;
    }
    .consultation__image {
        width: 150px;
        margin-left: auto;
        display: block;
    }
    .consultation__image img {
        width: 150px;
    }
    .consultation__info {
        width: 200px;
        bottom: 63px;
        margin-right: -20px;
        padding: 10px;
        font-size: 13px;
        border-radius: 8px;
    }
    .consultation__info .title-small {
        margin-bottom: 5px;
    }
    .consultation__form .checkbox {
        max-width: 100%;
        margin-top: 15px;
        color: #fff;
    }
    .checkbox {
        font-size: 13px;
    }
    .checkbox label {
        gap: 15px;
    }
    .checkbox label input {
        width: 20px;
        height: 20px;
        border-width: 2px;
    }
    .checkbox label input::before {
        font-size: 11px;
        top: 1px;
    }
    .slider-marquee {
        margin: 20px 0;
    }
    .slider-marquee__item {
        gap: 20px;
        padding: 0 10px;
    }
    .slider-marquee__item .image-head {
        width: 155px;
        height: 80px;
    }

    .advantages {
        padding: 20px 0;
        border-radius: 24px;
        margin: 0 5px;
    }
    .row>div,
    .slider-two .slick-slide,
    .slider-three .slick-slide {
        padding: 0 8px;
    }
    .row,
    .slider-two .slick-list,
    .slider-three .slick-list {
        margin: 0 -8px;
    }
    .consultation {
        padding-top: 22px;
    }

    .advantages__head p {
        max-width: 100%;
    }
    .advantages__head {
        font-size: 14px;
        margin-bottom: 20px;
        position: relative;
        top: 0;
    }
    .advantages__head .title-section {
        margin-bottom: 15px;
    }
    .item-accordion__image {
        height: 165px;
        border-radius: 16px 70px 16px 16px;
    }
    .item-accordion__image img {
        border-radius: 16px 70px 16px 16px;
    }
    .item-accordion__content {
        padding: 0;
        padding-top: 15px;
    }
    .item-accordion {
        padding: 15px 0;
        top: 68px;
    }
    .swiper-accordions {
        padding-bottom: 20px;
        height: auto;
    }
    .item-accordion .title-middle {
        margin-bottom: 15px;
    }
    .title-middle {
        font-size: 18px;
    }
    .item-accordion__content p {
        max-width: 100%;
    }

    .steps {
        padding: 25px 0;
        padding-bottom: 15px;
        margin: 0 5px;
        border-radius: 24px;
        overflow: hidden;
    }
    .advantages {
        margin-bottom: 25px;
    }
    .steps .title-section {
        gap: 15px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .steps .title-section small {
        max-width: 165px;
        font-size: 20px;
    }
    .tab-container-steps {
        padding: 20px 15px;
        margin: 0;
        margin-top: 15px;
        border-radius: 24px;
        min-height: initial;
    }
    .tab-container-steps .title-middle {
        margin-bottom: 15px;
    }
    .tab-container-steps .title-middle br {
        display: none;
    }
    .tabs-steps a {
        height: 50px;
        margin-right: 0;
        border-radius: 40px;
        padding: 0 20px;
        gap: 10px;
    }
    .tabs-steps a strong {
        font-size: 20px;
    }
    .tabs-steps li {
        margin-bottom: 8px;
    }
    .tab-container-steps p {
        margin-bottom: 15px;
    }
    .tab-container-steps ul {
        margin-top: 10px;
    }
    .tab-container-steps ul li {
        font-size: 14px;
        padding-left: 27px;
        margin-bottom: 15px;
        background-size: 20px auto;
    }
    .tabs-steps {
        padding: 0;
    }
    .consultation--page .consultation__main {
        padding: 20px 0;
        background: linear-gradient(233.85deg, rgba(63, 125, 32, 0) 4.28%, rgba(63, 125, 32, 0.5) 87.36%), #454955;
    }
    .consultation__picture {
        display: none;
    }
    .consultation--page .consultation__form {
        padding-top: 20px;
    }
    .consultation--page .consultation__content {
        margin-right: 0;
    }
    .consultation__content .title-section br {
        display: none;
    }
    .consultation__form .title-middle {
        margin-bottom: 14px;
    }
    .text-small {
        font-size: 14px;
    }
    .consultation__form .text-small {
        margin-bottom: 18px;
    }
    .radio-socials {
        gap: 15px;
        margin-bottom: 20px;
    }
    .radio-socials img {
        width: 40px;
    }
    .consultation__form .btn-main {
        height: 50px;
        margin-top: 8px;
    }
    .footer__column {
        margin: 0 !important;
    }
    .footer__main {
        padding-top: 30px;
        border-radius: 24px;
        font-size: 14px;
        margin: 5px;
        margin-top: 25px;
    }
    .footer__nav li {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .footer__nav li ul li {
        margin-bottom: 8px;
        font-size: 14px;
    }
    .footer__nav li ul ul li {
        font-size: 12px;
        margin-bottom: 4px;
    }
    .footer__nav li ul {
        margin-top: 10px;
        margin-bottom: 2px;
    }
    .footer__nav.footer__nav--main li {
        margin: 0;
    }
    .footer__title,
    .footer__nav.footer__nav--main li a {
        font-size: 18px;
        line-height: 140%;
        padding: 8px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 !important;
    }
    .footer__phone {
        font-size: 16px;
        margin-bottom: 11px;
    }
    .socials-list {
        gap: 16px;
    }
    .socials-list img {
        width: 42px;
        height: auto;
    }
    .socials-list--page {
        gap: 11px;
        margin-left: 1px;
    }
    .socials-list+.socials-list {
        margin-top: 20px;
    }
    .footer__bottom {
        padding: 19px 0;
        margin-top: 38px;
    }
    .footer__wrapper {
        gap: 105px;
    }
    .footer__links {
        gap: 15px;
    }
    .create img {
        width: 57px;
        margin-left: 4px;
    }
    .footer__contact {
        font-size: 16px;
        margin-top: 37px;
    }
    .footer__contact p {
        margin-bottom: 36px;
    }
    .footer__logo {
        margin-top: 0;
        gap: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .footer__logo .logo-descr {
        margin-top: 0;
    }
    .footer__logo .logo img {
        width: 102px;
    }
    .footer__contact p {
        margin-bottom: 20px;
    }
    .footer__wrapper {
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 22px 15px;
    }
    .footer__links {
        flex-wrap: wrap;
    }
    .footer__bottom {
        font-size: 13px;
        padding: 20px 0;
        margin-top: 34px;
    }
    .footer__content {
        display: none;
    }
    .footer__title i {
        font-size: 90%;
        padding: 0 5px;
        transition: all 0.3s;
    }
    .footer__title.active i {
        transform: rotate(180deg);
    }
    .requisites {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .billbord__mobile-image img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .preloader__logo img {
        width: 120px;
    }
    .video-widget__container {
        left: 15px;
        bottom: 15px;
        border-radius: 18px;
        border-width: 3px;
        width: 100px;
        height: 145px;
    }
    .video-widget__close {
        top: 6px;
        right: 6px;
        width: 20px;
        height: 20px;
        opacity: 1;
    }
    .video-widget__button {
        bottom: 15px;
        right: 15px;
        left: 15px;
        height: 55px;
        border-radius: 10px;
        font-size: 14px;
        line-height: 55px;
    }
    .video-widget__close:after, .video-widget__close:before {
        left: 9px;
        top: 1px;
        height: 18px;
        width: 2px;
    }
    .video-widget__container:hover {
        -webkit-transform: scale(1.05) translate(5px, -5px);
        -moz-transform: scale(1.05) translate(5px, -5px);
        -ms-transform: scale(1.05) translate(5px, -5px);
        -o-transform: scale(1.05) translate(5px, -5px);
        transform: scale(1.05) translate(5px, -5px);
    }
    .video-widget.video-widget[data-state=opened] .video-widget__container {
        width: 240px;
        height: 365px;
        border-radius: 17px;
    }
    .flipper {
        width: 60px;
        height: 60px;
        right: 15px;
        top: 155px;
        perspective: 500px;
    }
    .flipper__item--front img {
        width: 40px;
    }
    .flipper__text {
        padding: 12px;
        width: 217px;
        height: auto;
        font-size: 11px;
        border-radius: 14px;
        visibility: visible;
        opacity: 1;
        transition: initial;
        display: none;
        transform: none !important;
    }
    .flipper.active .flipper__wrapper {
        transform: rotateY(180deg);
    }
    .hidden-mobile {
        display: none !important;
    }
    .portfolio-service .btn-more,
    .portfolio__main .btn-more {
        width: fit-content;
        margin: 0 auto;
        margin-top: 40px;
        padding: 16px;
        display: flex;
    }
    .portfolio__head .title-section {
        max-width: 340px;
    }
    .btn-up {
        width: 40px;
        height: 40px;
        bottom: 12px;
        right: 10px;
    }
    .wrapper {
        overflow: initial;
    }
    .consultation--page .consultation__content {
        max-width: 100%;
    }
    .consultation--page .consultation__form .text-small {
        margin-bottom: 18px;
    }
    .consultation--page .radio-socials {
        margin-bottom: 20px;
    }
    .consultation--page .item-form {
        margin-bottom: 15px;
    }
    .section .fp-overflow {
        padding-top: 0;
    }
    .item-accordion.item-accordion--fake {
        display: none;
    }
    .slider-billbord {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 20px;
        min-height: initial;
    }
    .slider-billbord__item--2 .billbord__price,
    .billbord__price {
        left: 0px;
        top: 0;
        position: absolute;
        right: auto;
    }
    .consultation__info::after {
        width: 47px;
        height: 43px;
        right: 14px;
        bottom: -28px;
    }
    .item-accordion:first-child {
        margin-top: 0;
    }
    .item-form textarea {
        height: 90px;
        padding-top: 15px;
    }
    .page-services {
        padding-top: 68px;
        padding-bottom: 20px;
    }
    .breadcrumbs {
        padding: 12px;
        margin: 15px 0;
        font-size: 14px;
        border-radius: 16px;
    }
    .breadcrumbs li::after {
        margin: 0 8px;
    }
    .content-page {
        padding: 20px 0;
        margin: 0 10px;
        padding-bottom: 10px;
        border-radius: 16px;
    }
    .footer__nav.footer__nav--tree>li>a {
        font-size: initial;
    }

    .billbord-service__main {
        padding-top: 80px;
        margin: 0 10px;
        padding-bottom: 30px;
        min-height: initial;
    }
    .billbord-service__title {
        font-size: 16px;
    }
    .billbord-service__list {
        font-size: 14px;
        margin: 0;
        padding-left: 20px;
        margin-top: 15px;
    }
    .billbord-service::before {
        border-radius: 0 0 20px 20px;
    }
    .billbord-service__main {
        background: none;
    }
    .billbord-service .btn-main {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 15px;
        width: 100%;
        max-width: 400px;
    }
    .about-service__content {
        font-size: 14px;
    }
    .about-service__content p {
        margin-bottom: 15px;
    }
    .title-main {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .about-service {
        padding: 40px 0;
    }
    .about-service__image img {
        border-radius: 16px;
        margin-top: 20px;
    }
    .news__main,
    .card-about,
    .card-portfolio__main,
    .finished-projects__main,
    .team-main,
    .methods-main,
    .video-reviews,
    .reviews,
    .parametrs,
    .questions,
    .portfolio-service,
    .etaps,
    .offers,
    .cards-service {
        padding: 35px 0;
        margin: 0 10px;
        margin-bottom: 30px;
        border-radius: 20px;
    }
    .questions .descr-section,
    .portfolio-service .descr-section,
    .etaps .descr-section,
    .offers .descr-section,
    .cards-service__head .descr-section {
        margin-top: 15px;
    }
    .etaps__head,
    .cards-service__head {
        margin-bottom: 20px;
    }
    .unit-card__image {
        height: 250px;
        margin-bottom: 10px;
        border-radius: 16px;
    }
    .unit-card__image img {
        border-radius: 16px;
    }
    .unit-card__price {
        padding: 6px 12px;
        font-size: 14px;
        bottom: 9px;
        right: 8px;
    }
    .unit-card__content {
        padding: 15px 10px;
        border-radius: 16px;
    }
    .unit-card__title {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .unit-card__text {
        font-size: 14px;
    }
    .row.row--main>div {
        margin-bottom: 24px;
    }
    .row.row--main {
        margin-bottom: -24px;
    }

    .item-offer {
        padding: 20px 15px;
        gap: 18px;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .item-offer__title {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .item-offer__image {
        height: 250px;
        border-radius: 16px;
        width: 100%;
        order: -1;
    }
    .item-offer__image img {
        border-radius: 16px;
    }
    .item-offer .btn-main {
        height: 50px;
        margin-top: 20px;
        width: 100%;
    }
    .consultation--architector .title-section {
        margin-right: 0;
    }
    .consultation--architector .title-small {
        max-width: 100%;
    }
    .consultation--architector .consultation__form .title-middle {
        margin-bottom: 18px;
    }
    .consultation__person {
        display: none;
    }
    .item-etap {
        margin: 0 !important;
        transform: none !important;
    }
    .etaps-wrap {
        display: block;
        padding: 0;
    }
    .item-etap {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px !important;
        border-radius: 17px;
        padding-top: 0;
        min-height: initial;
        box-shadow: none;
    }
    .item-etap__number {
        font-size: 40px;
        margin-bottom: 0px;
    }
    .item-etap__image {
        height: 150px;
        margin: 12px 0;
        border-radius: 16px;
    }
    .item-etap__image img {
        border-radius: 16px;
    }
    .item-etap__term {
        font-size: 15px;
        gap: 10px;
        margin-bottom: 10px;
    }
    .item-etap__term::before {
        width: 21px;
        height: 21px;
    }
    .item-etap__text {
        font-size: 14px;
    }
    .etaps {
        margin-top: 40px;
    }
    .etaps__descr {
        font-size: 20px;
        padding-top: 9px;
    }
    .portfolio-service__head {
        display: block;
    }
    .item-case {
        padding: 12px;
        border-radius: 20px;
    }
    .item-case__image {
        height: 250px;
        margin-bottom: 20px;
        border-radius: 16px;
    }
    .item-case__image img {
        border-radius: 16px;
    }
    .item-case__person {
        gap: 19px;
        margin-bottom: 16px;
    }
    .item-case__photo {
        width: 42px;
        height: 42px;
    }
    .item-case__title {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .item-case__descr {
        font-size: 14px;
    }
    .item-case__bottom {
        padding-top: 20px;
        gap: 0;
        display: block;
    }
    .item-case .btn-main {
        height: 52px;
        font-size: 14px;
        padding: 0 24px;
        width: 100%;
        margin-top: 15px;
    }
    .questions__left {
        margin: 0;
    }
    .questions__left .title-section {
        margin-bottom: 20px;
    }
    .col-lg-4 .form-main {
        margin-left: 0px;
        margin-top: 20px;
    }
    .item-question {
        margin-bottom: 8px;
        border-radius: 12px;
    }
    .item-question__head {
        font-size: 16px;
        padding: 12px;
        gap: 16px;
    }
    .item-question__head i {
        width: 28px;
        height: 28px;
        font-size: 15px;
    }
    .item-question__content {
        font-size: 14px;
        padding: 12px;
        padding-top: 0;
    }
    .form-main {
        padding: 20px;
        border-radius: 20px;
    }
    .form-main__title {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .form-main__subtitle {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .form-main__top {
        display: block;
        margin-bottom: 20px;
    }
    .etaps-wrap {
        margin-bottom: 20px;
    }
    .billbord-service__image-mobile img {
        width: 100%;
        height: auto;
    }
    .page-card__wrapper {
        padding-top: 80px;
        padding-bottom: 25px;
        border-radius: 0px 0px 24px 24px;
        margin-bottom: 35px;
    }
    .billbord-card {
        min-height: 400px;
        margin: 0 10px;
        padding: 7px 10px;
        border-radius: 20px;
    }
    .billbord-card .breadcrumbs {
        display: block;
        margin: 0;
    }
    .billbord-card .breadcrumbs li {
        display: inline;
    }
    .card-main {
        padding: 20px 15px;
        margin-top: -55px;
        border-radius: 24px;
    }
    .card-main__content {
        padding: 0;
    }
    .card-main__title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .tabs-page {
        gap: 3px;
        margin-bottom: 6px;
    }
    .tabs-page a {
        padding: 8px 12px;
        border-radius: 100px;
        font-size: 12px;
    }
    .tabs-page a::before {
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -52px;
        border-radius: 16px 16px 0 0;
    }
    .tabs-page .active {
        margin: 0 5px;
    }
    .tab-container-page {
        padding: 20px 15px;
        font-size: 14px;
        border-radius: 16px;
    }
    .card-main .btn-main {
        width: 100%;
        margin-top: 20px;
    }
    .card-feature {
        padding: 16px;
        font-size: 14px;
        border-radius: 16px;
        flex: 1;
    }
    .card-feature:nth-child(2) {
        flex: none;
        width: 100%;
        order: 2;
    }
    .card-feature__title {
        font-size: 19px;
        margin-bottom: 8px;
    }
    .card-features {
        gap: 6px;
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    .slider-nav .slick-slide {
        padding: 0 2px;
    }
    .slider-nav .slick-list {
        margin: 0 -2px;
    }
    .slider-for__item {
        height: 255px;
        border-radius: 20px;
    }
    .slider-for__item img {
        border-radius: 20px;
    }
    .slider-for {
        margin-top: 30px;
    }
    .slider-nav {
        padding: 0 40px;
        margin-top: 19px;
    }
    .slider-nav__item {
        height: 57px;
        border-width: 2px;
        border-radius: 16px;
    }
    .slider-nav__item img {
        border-radius: 16px;
    }
    .slider-nav .slick-arrow {
        width: 32px;
        height: 32px;
        font-size: 18px;
    }
    .card-labels {
        gap: 10px;
        margin-top: 25px;
        flex-wrap: wrap;
    }
    .card-labels__item {
        font-size: 18px;
        padding: 8px 22px;
        width: 100%;
        border-radius: 20px;
        gap: 10px;
        flex: none;
    }
    .card-labels__item img {
        width: 50px;
    }

    .title-big {
        font-size: 27px;
        margin-bottom: 20px;
    }
    .item-equipment {
        font-size: 14px;
    }
    .item-equipment__image {
        height: 210px;
        border-radius: 20px;
    }
    .item-equipment__image img {
        border-radius: 20px;
    }
    .item-equipment__content {
        padding: 12px;
        border-radius: 20px;
    }
    .item-equipment__title {
        font-size: 17px;
        margin-bottom: 12px;
    }
    .item-equipment__price {
        padding: 10px;
        border-radius: 16px;
    }
    .item-equipment__text {
        padding-bottom: 16px;
    }
    .price-main {
        font-size: 19px;
    }
    .consultation+.advantages {
        margin-top: 35px;
    }

    .menu-wrap {
        columns: initial;
    }

    .menu-dropdown {
        padding: 35px 0;
        padding-bottom: 120px;
        border-radius: 0;
        max-height: 100vh;
        overflow: auto;
    }
    .unit-menu {
        margin-bottom: 37px;
        padding: 0;
        border: none;
    }
    .navigation>li>ul>li {
        margin-bottom: 12px;
    }
    .navigation>li>a {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .navigation>li>ul>li>a {
        font-size: 18px;
        padding: 10px 12px;
    }
    .navigation i {
        width: 24px;
        height: 24px;
        right: 12px;
        top: 15px;
    }
    .navigation>li>ul>li>ul {
        padding-left: 14px;
        padding-top: 16px;
    }
    .navigation>li>ul>li>ul>li {
        margin-bottom: 12px;
        font-size: 15px;
    }
    .navigation>li>ul>li>ul ul {
        padding: 10px 0px 10px 16px;
        font-size: 13px;
        margin-top: 10px;
    }
    .navigation>li>ul>li>ul ul li {
        margin-bottom: 12px;
    }
    .unit-menu,
    .unit-menu:nth-child(1) {
        margin-bottom: 25px;
    }
    .navigation>li>ul>li>ul>li i {
        right: 15px;
    }
    .no-scroll {
        overflow: hidden;
    }

    .billbord-about .breadcrumbs {
        display: flex;
    }
    .billbord-about {
        position: relative;
    }
    .billbord-about__main {
        min-height: initial;
        margin: 0;
        padding-top: 70px;
        background-image: none;
    }
    .billbord-about::before {
        border-radius: 0px 0px 24px 24px;
    }
    .billbord-about__content {
        max-width: 492px;
    }
    .billbord-about__title {
        font-size: 26px;
        max-width: 248px;
        margin-bottom: 13px;
    }
    .billbord-about__descr {
        font-size: 16px;
    }
    .billbord-about__video {
        width: 94px;
        height: 94px;
        top: 20px;
        margin-left: 0px;
        right: 0;
        left: auto;
    }
    .billbord-about__video::before {
        top: 12px;
        left: 12px;
        bottom: 12px;
        right: 12px;
    }
    .billbord-about__video svg {
        width: 25px;
    }
    .billbord-about__video::after {
        content: " ";
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
    }

    .history__content p {
        margin-bottom: 15px;
    }
    .history__content p:last-child {
        margin-bottom: 0;
    }
    .history__content .title-section {
        margin-bottom: 24px;
    }
    .history .slider-marquee {
        margin-bottom: 30px;
    }
    .history__image img {
        border-radius: 24px;
    }
    .item-history__content {
        padding: 16px;
        width: 367px;
        font-size: 14px;
        border-radius: 24px;
        box-shadow: 8px 20px 10px 0 rgba(0, 0, 0, 0.05);
    }
    .item-history__image {
        height: 184px;
        margin-bottom: 16px;
        border-radius: 16px;
    }
    .item-history__image img {
        border-radius: 16px;
    }
    .item-history__title {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .item-history--1 {
        top: 95px;
        left: -134px;
        transform: rotate(11deg);
    }
    .item-history--2 {
        bottom: -145px;
        left: 238px;
        transform: rotate(-15deg);
    }
    .item-history--3 {
        top: -29px;
        right: 34px;
    }
    .item-history--1 .item-history__content {
        transform: translateX(-200px);
    }
    .item-history--2 .item-history__content {
        transform: translateY(40px);
    }
    .item-history--3 .item-history__content {
        transform: translateY(-200px);
    }
    .history__main .item-history {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-bottom: 20px;
        right: 0;
        transform: none;
    }
    .history__main .item-history .item-history__content {
        transform: none;
        opacity: 1;
        width: 100%;
    }
    .history__image {
        margin: 20px 0;
    }

    .timeline__main {
        padding: 40px 0;
        margin: 0 10px;
        border-radius: 24px;
    }
    .item-timeline {
        height: auto;
        padding: 20px;
        gap: 0;
        flex-direction: row-reverse;
        transform: translateY(30px);
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .item-timeline:nth-child(even) {
        justify-content: flex-end;
    }
    .item-timeline__content {
        width: 100%;
        order: 2;
    }
    .item-timeline .title-middle {
        margin-bottom: 15px;
    }
    .item-timeline__year {
        width: 61px;
        height: 61px;
        margin: 0;
        margin-bottom: 15px;
    }
    .timeline__wrap::before {
        display: none;
    }


    .item-sertficat {
        height: auto;
        min-height: 100%;
        padding: 18px;
        border-radius: 16px;
    }
    .item-sertficat__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }
    .item-sertficat__icon img {
        width: 26px;
    }
    .item-sertficat__title {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .item-sertficat__text {
        font-size: 14px;
    }
    .about-sliders .title-section {
        margin-bottom: 20px;
    }
    .about-sliders .slider-four {
        margin-bottom: 70px;
    }
    .item-partner {
        height: 130px;
        padding: 20px;
        border-radius: 16px;
    }
    .slider-five {
        padding-bottom: 35px;
    }
    .about-sliders .slider-four .slick-dots {
        bottom: -22px;
    }
    .slider-five .slick-dots {
        bottom: 0;
    }
    .about-sliders {
        padding-bottom: 40px;
    }


    .item-review {
        padding: 18px;
        font-size: 14px;
        border-radius: 24px 24px 0 0;
    }
    .item-review__head {
        gap: 12px;
        margin-bottom: 15px;
    }
    .item-review__image {
        width: 50px;
        height: 50px;
    }
    .item-review .title-small {
        margin-bottom: 2px;
    }
    .item-review__text {
        padding-bottom: 18px;
    }
    .item-review__bottom {
        padding-top: 18px;
    }
    .item-review .btn-main {
        font-size: 13px;
        height: 48px;
        padding: 0 22px;
    }
    .rating {
        gap: 1px;
    }

    .video-review {
        padding: 18px;
        max-width: 326px;
        margin: 0 auto;
        border-radius: 22px;
    }
    .video-review__image {
        height: 405px;
        margin-bottom: 16px;
        border-radius: 16px;
    }
    .video-review__image img {
        border-radius: 16px;
    }
    .slider-three .slick-slide {
        padding: 0 10px;
    }
    .slider-three .slick-list {
        margin: 0 -10px;
    }
    .video-review__descr {
        margin-bottom: 3px;
    }
    .video-review__btn {
        bottom: 0;
        right: 0;
    }
    .item-team__video,
    .video-review__play {
        width: 60px;
        height: 60px;
        font-size: 18px;
        box-shadow: 0 0 0 10px #fff;
    }
    .video-review__btn::before {
        top: -22px;
        left: -17px;
        right: -27px;
        bottom: -19px;
        border-radius: 100px 10px 100px 100px;
    }
    .billbord-about__mobile img {
        width: 100%;
        border-radius: 20px;
        height: auto;
    }
    .billbord-about__mobile {
        margin-top: 20px;
    }
    .billbord-about {
        padding-bottom: 20px;
    }
    .fancybox-slide {
        padding: 15px;
    }


    .form-main--page .form-main__subtitle {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .item-contact .title-small {
        font-size: 18px;
    }
    .form-main__inner {
        padding: 0;
    }
    .item-contact {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .item-contact+.item-contact,
    .item-contact p {
        margin-top: 13px;
    }
    .item-contact.item-contact--requisites .title-small {
        margin-bottom: 13px;
    }
    .item-contact.item-contact--requisites {
        max-width: 290px;
    }
    .item-contact .socials-list {
        margin-top: 13px;
    }
    #map {
        height: 400px;
        margin: 0 10px;
        border-radius: 22px;
        margin-top: 22px;
    }
    .page-contacts {
        padding-top: 68px;
    }
    .page-contacts .col-lg-4 .form-main {
        margin-top: 10px;
    }
    .form-main .checkbox {
        margin-top: 16px;
    }


    .methods-main {
        padding-bottom: 20px;
    }
    .methods-main__content {
        padding: 20px 15px;
        font-size: 14px;
        border-radius: 22px;
    }

    .methods-main .title-middle {
        margin-bottom: 20px;
    }
    .methods-main__image img {
        border-radius: 16px;
    }
    .item-method {
        padding: 20px;
    }
    .item-method .title-middle {
        margin-bottom: 20px;
    }
    .item-guarantee__head {
        padding: 12px;
        border-radius: 22px;
        margin-bottom: 20px;
        gap: 12px;
    }
    .item-guarantee__head img {
        width: 70px;
    }
    .item-guarantee__content {
        padding: 20px;
    }
    .methods-main .tab-container ul li {
        padding-left: 27px;
        margin-bottom: 10px;
        background-size: 20px auto;
    }
    .guarantee {
        padding-top: 15px;
    }
    .page-methods {
        padding-top: 68px;
    }
    .methods-main__image {
        margin-top: 20px;
    }
    .guarantee .title-main {
        margin-bottom: 20px;
    }


    .page-documents {
        padding-top: 68px;
    }
    .item-document {
        gap: 20px;
        padding: 16px;
        padding-bottom: 20px;
        border-radius: 16px;
    }
    .item-document__image {
        height: 385px;
    }
    .item-document .btn-main {
        border-radius: 16px;
        height: 59px;
        font-size: 16px;
        padding: 0 25px;
        gap: 10px;
    }
    .about-contract__list li {
        padding: 16px;
        font-size: 14px;
        margin-bottom: 11px;
        border-radius: 14px;
    }
    .page-documents .slider-three {
        margin-bottom: 40px;
    }
    .about-contract__image {
        margin-top: 20px;
    }
    .about-contract__image img {
        border-radius: 300px 24px 300px 300px;
    }
    .about-contract {
        padding-bottom: 20px;
    }


    .item-team {
        padding: 16px;
        gap: 24px;
        font-size: 14px;
        border-radius: 22px;
        display: block;
    }
    .item-team__image {
        height: 340px;
        max-width: 284px;
        margin: 0 auto;
        border-radius: 16px;
    }
    .item-team__image img {
        border-radius: 16px;
    }
    .item-team .title-small {
        margin-bottom: 12px;
        font-size: 19px;
    }
    .item-team__content {
        padding-top: 15px;
        display: block;
    }
    .item-team__descr {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .item-team ul {
        padding-left: 20px;
    }
    .item-team ul li {
        margin-bottom: 12px;
    }
    .item-team .btn-main {
        height: 52px;
        padding: 0 24px;
        font-size: 14px;
    }

    .page-portfolio .portfolio__top {
        margin-bottom: 27px;
        gap: 0;
        display: block;
    }
    .pager {
        height: 38px;
        margin-top: 35px;
        gap: 24px;
    }
    .page-numbers {
        font-size: 14px;
    }
    .prev.page-numbers,
    .next.page-numbers {
        font-size: 18px;
        width: 38px;
        height: 38px;
    }
    .switcher {
        font-size: 14px;
        gap: 20px;
        margin-bottom: 20px;
    }
    .switcher__btn {
        width: 56px;
        height: 28px;
        border-radius: 60px;
    }
    .switcher__circle {
        width: 28px;
        height: 28px;
    }
    .switcher--map .switcher__circle {
        left: 28px;
    }
    .switcher-tab--map #map {
        margin-left: 0;
        margin-right: 0;
    }
    .item-location__image {
        width: 115px;
        height: 100px;
    }
    .item-location {
        padding: 8px;
        gap: 10px;
        border-radius: 14px;
        font-size: 10px;
    }
    .item-location__title {
        font-size: 13px;
        margin: 4px 0;
    }
    .finished-projects .no-tabs {
        margin-bottom: 24px;
    }
    .card-portfolio__main .title-section {
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .card-portfolio {
        padding-top: 60px;
    }
    .card-portfolio__content {
        padding: 15px;
        border-radius: 20px;
    }
    .property__title {
        font-size: 14px;
    }
    .property {
        gap: 10px;
        margin-bottom: 10px;
    }
    .card-portfolio__content .btn-main {
        min-width: 240px;
        margin-top: 20px;
    }
    .slider-layouts__item {
        height: 350px;
        padding: 30px 40px;
        border-radius: 22px;
    }
    .slider-layouts .slick-prev {
        left: -10px;
    }
    .slider-layouts .slick-next {
        right: -10px;
    }
    .slick-arrow {
        width: 34px;
        height: 34px;
        font-size: 16px;
    }
    .card-layouts__title {
        top: 10px;
        left: 10px;
    }
    .card-layouts {
        border-radius: 22px;
        border-width: 1px;
    }
    .card-contacts {
        padding-bottom: 40px;
    }
    .card-about__content {
        padding: 20px 15px;
        border-radius: 20px;
        margin: 10px 0 !important;
    }
    .card-about__content::before,
    .card-about__content::after,
    .card-about__bg {
        display: none !important;
    }
    .card-about__image img {
        border-radius: 20px;
    }
    .card-about__image {
        margin: 0 !important;
    }
    .card-about__item {
        margin-bottom: 15px;
    }
    .card-about__item:last-child {
        margin-bottom: 0;
    }
    .card-contacts .row>div {
        margin-bottom: 20px;
    }
    .card-contacts .row>div:last-child {
        margin-bottom: 0;
    }

    .item-news {
        font-size: 14px;
    }
    .item-news__image {
        height: 200px;
        border-radius: 20px;
    }
    .item-news__image img {
        border-radius: 20px;
    }
    .item-news__content {
        padding: 20px 15px;
        border-radius: 20px;
    }
    .item-news__date {
        padding-bottom: 12px;
        margin-bottom: 16px;
    }
    .item-news__title {
        font-size: 17px;
        margin-bottom: 14px;
    }

    .article {
        padding-top: 70px;
    }
    .article__billbord-image {
        padding: 0 10px;
    }
    .article__billbord-image img {
        border-radius: 16px;
    }
    .article__billbord {
        margin: 0 0;
        margin-bottom: 20px;
        margin-top: 0px;
        display: flex;
        flex-direction: column-reverse;
    }
    .article__billbord-content {
        padding-top: 0px;
        position: relative;
    }
    .article__news {
        padding-top: 25px;
        padding-left: 0;
    }
    .article__news .item-news {
        margin-bottom: 24px;
    }
    .article__content {
        font-size: 15px;
    }
    .article__content h1 {
        font-size: 26px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: #0D0A0B;
    }
    .article__content ul {
        padding-left: 20px;
    }
    .article__content p,
    .article__content li {
        margin-bottom: 15px;
    }
    .article__content blockquote {
        border-radius: 16px;
        padding: 20px;
        margin: 20px 0;
    }
    .article__content h2 {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 14px;
    }
    .article__content img {
        border-radius: 20px;
        margin: 15px 0;
        margin-right: 0;
        width: 100%;
        float: none;
    }
    .article__date {
        padding-top: 0px;
        padding-bottom: 12px;
        margin-bottom: 16px;
    }
}



/*==========  Mobile First Method  ==========*/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .footer__content {
        display: block !important;
    }
    .show-mobile,
    .billbord__mobile-image,
    .footer__title i {
        display: none !important;
    }
    .flipper:hover .flipper__wrapper {
        transform: rotateY(180deg);
    }
    .item-service:hover .item-service__image {
        opacity: 0;
    }
    .item-service:hover .item-service__background {
        opacity: 1;
    }
    .item-service:hover .item-service__list a {
        background: #fff;
    }
}


/*hovers*/
@media (hover: hover) {
    .btn-main:hover::before {
        opacity: 1;
        transform: rotate(0deg) translateX(0);
    }
    .swiper-pagination-bullet:hover,
    .slick-dots li button:hover {
        background: #72B01D;
    }
    .tabs-steps a:hover {
        background: #6ea030;
        color: #F8F9F6;
    }
    .tabs-steps a:hover strong {
        color: #F8F9F6;
    }
    .btn-menu:hover {
        background: #72B01D;
    }
    .item-card:hover .item-card__image img {
        transform: scale(1.1);
    }
    .slick-arrow:hover {
        background: #3F7D20;
        color: #fff;
    }
    .tabs a:hover {
        background: #72B01D;
        border-color: #72B01D;
        color: #F8F9F6;
    }
    .menu__list>li>a:hover {
        background: #72B01D;
        border-color: #72B01D;
    }
    .btn-more:hover {
        background: #3F7D20;
        color: #F8F9F6;
    }
    .btn-more:hover img {
        transform: rotate(90deg);
        opacity: 0.9;
        filter: brightness(0) invert(1);
    }
    .btn-main.btn-main--simple:hover,
    .item-service .item-service__list a:hover {
        color: #F8F9F6;
        background: #72B01D;
    }
    .file-upload:hover label {
        background: rgba(255, 255, 255, 0.3);
    }
    .footer__nav li a:hover {
        border-color: #F8F9F6;
    }
    .footer__nav.footer__nav--main li a:hover {
        border-color: #72B01D;
    }
    .socials-list a:hover img {
        transform: scale(1.1);
    }
    .footer__links a:hover {
        border-color: transparent;
    }
    .radio-socials__item:hover img {
        opacity: 0.8;
    }
    .btn-up:hover {
        background: #72B01D;
    }
    .unit-card:hover .unit-card__image img {
        opacity: 0;
    }
    .menu__list li ul li:hover,
    .menu__list li ul li:hover>a {
        color: #72B01D;
    }
    .navigation>li>ul>li>a:hover {
        background: #F0F5ED;
        color: #3F7D20;
    }
    .navigation>li>ul>li>ul>li a:hover {
        color: #3F7D20;
    }
    .methods-main .tabs a:hover {
        border-color: #72B01D;
        color: #72B01D;
        background: transparent;
    }
    .item-team__video:hover {
        transform: scale(1.06);
    }
    .page-numbers:hover {
        color: #3F7D20;
    }
    .prev.page-numbers:hover,
    .next.page-numbers:hover {
        background: #3F7D20;
        color: #fff;
    }
    .item-news:hover .item-news__image img {
        transform: scale(1.05);
    }
    .item-news:hover .item-news__title {
        color: #3F7D20;
    }
}

/*mobile hovers*/
@media (hover: none) {
    .btn-main:active::before {
        opacity: 1;
        transform: rotate(0deg) translateX(0);
    }
    .swiper-pagination-bullet:active,
    .slick-dots li button:active {
        background: #72B01D;
    }
    .tabs-steps a:active {
        background: #6ea030;
        color: #F8F9F6;
    }
    .tabs-steps a:active strong {
        color: #F8F9F6;
    }
    .btn-menu:active {
        background: #72B01D;
    }
    .item-card:active .item-card__image img {
        transform: scale(1.1);
    }
    .slick-arrow:active {
        background: #3F7D20;
        color: #fff;
    }
    .tabs a:active {
        background: #72B01D;
        border-color: #72B01D;
        color: #F8F9F6;
    }
    .menu__list>li>a:active {
        background: #72B01D;
        border-color: #72B01D;
    }
    .btn-more:active {
        background: #3F7D20;
        color: #F8F9F6;
    }
    .btn-more:active img {
        transform: rotate(90deg);
        opacity: 0.9;
        filter: brightness(0) invert(1);
    }
    .btn-main.btn-main--simple:active,
    .item-service .item-service__list a:active {
        color: #F8F9F6;
        background: #72B01D;
    }
    .file-upload:active label {
        background: rgba(255, 255, 255, 0.3);
    }
    .footer__nav li a:active {
        border-color: #F8F9F6;
    }
    .footer__nav.footer__nav--main li a:active {
        border-color: #72B01D;
    }
    .socials-list a:active img {
        transform: scale(1.1);
    }
    .footer__links a:active {
        border-color: transparent;
    }
    .radio-socials__item:active img {
        opacity: 0.8;
    }
    .btn-up:active {
        background: #72B01D;
    }
    .unit-card:active .unit-card__image img {
        opacity: 0;
    }
    .menu__list li ul li:active,
    .menu__list li ul li:active>a {
        color: #72B01D;
    }
    .navigation>li>ul>li>a:active {
        background: #F0F5ED;
        color: #3F7D20;
    }
    .navigation>li>ul>li>ul>li a:active {
        color: #3F7D20;
    }
    .methods-main .tabs a:active {
        border-color: #72B01D;
        color: #72B01D;
        background: transparent;
    }
    .item-team__video:active {
        transform: scale(1.06);
    }
    .page-numbers:active {
        color: #3F7D20;
    }
    .prev.page-numbers:active,
    .next.page-numbers:active {
        background: #3F7D20;
        color: #fff;
    }
    .item-news:active .item-news__image img {
        transform: scale(1.05);
    }
    .item-news:active .item-news__title {
        color: #3F7D20;
    }
}